.custom-tick {
  font-size: 11px;
}

.date-range-filter {
  padding: 20px 15px;
}

.custom-tooltip {
  background: #fff;
  padding: 12px;
  border: 1px solid #ccc;

  .period-type {
    font-weight: bold;
  }

  h4 {
    font-weight: bold;
  }
}

.loader {
  width: 1000px;
  height: 522px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-picker-container {
  padding: 20px;
}
